.jumbotron {
  background-color:#ffffff;
  margin:auto;
  margin-bottom:1rem;
  padding:0px;
}

#logo {
  margin-left:auto;
  margin-right:auto;
  display:block;
  width:600px;
}

h3 {
  font-size:medium;
  font-family:'Archivo Narrow';
}

section {
  margin:15px;
}

@media (max-width: 900px) {
  #statement {
    padding:0rem 4rem;
  }
}

@media (max-width: 600px) {
  #statement {
    padding:0rem 1rem;
  }
}

@media (min-width: 990px) {
  #statement {
    padding:0rem 10rem;
  }
}

